{% extends 'default/base.html.twig' %}

{% block cuerpo %}

<body style="background-color: #eee;">

    <!-- Formulario Registro -->
    <div class="col-lg-12" style="margin: 5% auto;" id="body">
        <div class="row">
            <div style="width: 100%; text-align: center;">
                <h2>Formulario de registro</h2>
            </div>
            <div class="form-control col-lg-5" style="margin-left: 5%; margin-top: 2%;">
                {{ form_start(formulario) }}
                {{ form_label(formulario.username) }}
                {{ form_widget(formulario.username) }}
                {{ form_label(formulario.password) }}
                {{ form_widget(formulario.password) }}
                {{ form_label(formulario.email) }}
                {{ form_widget(formulario.email) }}
            </div>
            <div class="form-control col-lg-5" style="margin-left: 5%; margin-top: 2%;">
                {{ form_label(formulario.dni) }}
                {{ form_widget(formulario.dni) }}
                {{ form_label(formulario.nombre) }}
                {{ form_widget(formulario.nombre) }}
                {{ form_label(formulario.apellidos) }}
                {{ form_widget(formulario.apellidos) }}
                {{ form_label(formulario.telefono) }}
                {{ form_widget(formulario.telefono) }}
            </div>
        </div>
        <div style="margin-left: 85%; margin-top: 5%;">
            {{ form_end(formulario) }}
        </div>

    </div>
    <!-- /Formulario Registro -->

</body>

{% endblock %}

{% block javascript %}

	<!-- JavaScript -->	
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="{{ asset('js/registro.js') }}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- /JavaScript -->

{% endblock %}