{% extends 'default/base.html.twig' %}

{% block cuerpo %}

<body style="background-color: #eee;">

	<!-- Cuerpo -->
	<div class="container" id="cuerpo">
		<div class="row" style="height: 100%;">

			<!-- Filtros -->
			<div class="col-lg-3 card p-4 mt-4" style="margin-bottom: 2%; max-height: 650px;">
				<form class="form" id="filtroForm" name="filtroForm" action="{{ path('homepage') }}" method="post" title="Elige una provincia">
					<fieldset border="1px">
						<h1 class="my-4">Filtros de Búsqueda</h1>
						<div class="list-group">
							<h6 id ="ajaxProv" class="list-group-item">
								<label id="lblprovincia">Provincia:</label>
								<select required="required" name="provincia" id="provincia">
									<option>Provincias</option>

									{% for pro in provincia %}

										<option value="{{ pro.id }}">{{ pro.nombre }}</option>

									{% endfor %}

								</select>
								<div id='loadingAjax' style='display:none'>
									<img src="{{ asset('imagenes/ajax-loader.gif') }}"/>
								</div>
							</h6>
							<h6 class="list-group-item">
								Precio:
								<input type="text" name="precio" id="amount" style="border:0; color:#00aced; font-weight:bold; padding-bottom:px;">
								<div id="slider-range"></div>
							</h6>
							<h6 class="list-group-item">
								<label>Temporada:</label>
								<br>
								<label for="from">Desde</label>
								<input required="required" type="text" id="from" name="desde">
								<label for="to">Hasta</label>
								<input required="required" type="text" id="to" name="hasta">
								<br>
							</h6>
							<h6 class="list-group-item" >Nº Habitaciones: 
								<select name="habitaciones">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
								</select>
							</h6>
							<h6 class="list-group-item" >Nº Personas: 
								<select name="personas">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
							</h6>
						</div>
						<input type="submit" value="Filtrar" name="filtrador" id="filtrador" class="btn btn-primary" style="margin-top: 5%; display:none;">
					</fieldset>
				</form>
			</div>
			<!-- /Filtros -->

			<div class="col-lg-9"  style="margin: 2% auto">
				<h1 id="destacados" style="text-align: center">Apartamentos Destacados</h1>

				<hr/>

				<!-- Ordenadores -->
				<div class="container" style="margin-bottom:5%">
					<div>
						<select id="filtroSelect">
							<option>Ordenaciones</option>
							<option>Precios Bajos</option>
							<option>Precios Altos</option>
							<option>Pocas Habitaciones</option>
							<option>Muchas Habitaciones</option>
							<option>Pocas Personas</option>
							<option>Muchas Personas</option>
						</select>
					</div>
				</div>
				<!-- /Ordenadores -->

				<!-- Apartamentos -->
				<div class="row" id="apartamentos">

						{% for apar in propiedad %}
							
							<div class="ordenables col-lg-4 col-md-6 mb-4">
								<div class="card h-100">
									<div class="card-body">
										<h4 class="card-title">
										<a style="text-decoration: none; color: #00aced;" href="{{url("apartamento",{"id":apar.id, "id":apar.id})}}">{{ apar.nombre }}</a>
										<br/><br/>
										<a><img class="card-img-top" src="../imagenes/{{ apar.imagen }}" width="100px" height="100px"/></a>
										</h4>
										<hr/>
										<h5>{{ apar.precio }}€</h5>
										<h6 style="text-align: right;">Nº Inquilinos:{{ apar.numPersonas }}</h6>
										<h6 style="text-align: right;">Nº Habitaciones:{{ apar.numHabitaciones }}</h6>
										<hr/>
										<p class="card-text">{{ apar.descripcion }}</p>

										{% if app.user %}
											{% if app.user.id == apar.user.id %}
												<p class="text-success" class="card-text">EN PROPIEDAD</p>
											{% endif %}
										{% endif %}
									</div>
									<div class="card-footer">
										<small class="text-muted">{{ apar.direccion }}, {{ apar.localidad.nombre }}</small>
									</div>
								</div>
							</div>
	
						{% endfor %}

				</div>
				<!-- /Apartamentos -->
					
			</div>
		</div>

		<a style="opacity: 0.3; margin-left: 55%;" href="#destacados" class="nav-link font-weight-bold fas fa-level-up-alt"> Subir Arriba</a>

	</div>
	<!-- /Cuerpo -->
			
</body>

{% endblock %}

{% block javascript %}

	<!-- JavaScript -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<script src="{{ asset('js/home.js') }}"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<!-- /JavaScript -->

{% endblock %}
