<!DOCTYPE html>
<html>

<head>

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="{{ asset('css/estilo.css') }}" />

</head>
        
<body style="background-color: #eee;">

	<!-- Menú Navbar -->
	{% if usuario is defined %} 

		<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #00aced;">
			<div class="container">
				<img id="logo" src="../imagenes/logo.png">
				<button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#divCollapse">
					&#9776;
				</button>
				<div class="collapse navbar-collapse" id="divCollapse">
					<ul class="nav navbar-nav ml-auto">
						<button type="button" data-toggle="dropdown" style="background-color:#00aced;" class="btn dropdown-toggle nav-link font-weight-bold fas fa-user"> {{ app.user.username }}</button>
						<ul class="dropdown-menu dropdown-menu-right mr-5" style="background-color:#c0deed;">
							<li class="px-3 py-2">
								<div class="form-group" style="border-bottom: 0.2px solid; border-color: #00aced;">
									<a href="{{url("alquiler")}}" class="nav-link font-weight-bold fas fa-building"> Apartamentos</a>
								</div>
								<div class="form-group" style="border-bottom: 0.2px solid; border-color: #00aced;">
									<a href="{{url("configuracion")}}" class="nav-link font-weight-bold fas fa-cog"> Configuración</a>
								</div>
								<div class="form-group" style="border-bottom: 0.2px solid; border-color: #00aced;">
									<a href="{{url("logout")}}" class="nav-link font-weight-bold fas fa-sign-out-alt"> Cerrar Sesión</a>
								</div>
							</li>
						</ul>
					</ul>
				</div>
			</div>
		</nav>
			
		{% else %}

		<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #00aced;">
			<div class="container">
				<img id="logo" src="../imagenes/logo.png">
				<button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#divCollapse">
					&#9776;
				</button>
				<div class="collapse navbar-collapse" id="divCollapse">
					<ul class="nav navbar-nav flex-row justify-content-between ml-auto">
						<li class="dropdown order-1">
							<li class="nav-item"><a href="{{ url('registro') }}" class="nav-link font-weight-bold fas fa-sign-out-alt"> Registrate</a></li>
							<li class="nav-item"><a href="{{ url('login') }}" class="nav-link font-weight-bold fas fa-sign-in-alt"> Inicia Sesión</a></li>
						</li>
					</ul>
				</div>
			</div>
		</nav>		

	{% endif %}
	<!-- /Menú Navbar --> 
		
	<!-- Cuerpo -->
	<div class="container" id="cuerpo">
		<div class="row" style="height: 100%;">
			
			<!-- Filtros -->
			<div class="col-lg-3 card p-4 mt-4" style="margin-bottom: 2%;">
				<form class="form" id="filtroForm" name="filtroForm" action="{{ path('homepage') }}" method="post" title="Elige una provincia">
					<fieldset border="1px">
						<h1 class="my-4">Filtros de Búsqueda</h1>
						<div class="list-group">
							<h6 id ="ajaxProv" class="list-group-item">
								<label id="lblprovincia">Provincia:</label>
								<select required="required" name="provincia" id="provincia">
									<option>Provincias</option>

									{% for pro in provincia %}

										<option value="{{ pro.id }}">{{ pro.nombre }}</option>

									{% endfor %}

								</select>
								<div id='loadingAjax' style='display:none'>
									<img src="{{ asset('imagenes/ajax-loader.gif') }}"/>
								</div>
							</h6>
							<h6 class="list-group-item">
								Precio:
								<input type="text" name="precio" id="amount" style="border:0; color:#00aced; font-weight:bold; padding-bottom:px;">
								<div id="slider-range"></div>
							</h6>
							<h6 class="list-group-item">
								<label>Temporada:</label>
								<br>
								<label for="from">Desde</label>
								<input required="required" type="text" id="from" name="desde">
								<label for="to">Hasta</label>
								<input required="required" type="text" id="to" name="hasta">
								<br>
							</h6>
							<h6 class="list-group-item" >Nº Habitaciones: 
								<select name="habitaciones">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
								</select>
							</h6>
							<h6 class="list-group-item" >Nº Personas: 
								<select name="personas">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
							</h6>
						</div>
						<input type="submit" value="Filtrar" name="filtrador" id="filtrador" class="btn btn-primary" style="margin-top: 5%; display:none;">
					</fieldset>
				</form>
			</div>
			<!-- /Filtros -->

			<div class="col-lg-9"  style="margin: 2% auto">
				<h1 style="text-align: center">Apartamentos Destacados</h1>

				<hr/>

				<!-- Ordenadores -->
				<div class="container" style="margin-bottom:5%">
					<div>
						<select id="filtroSelect">
							<option>Ordenaciones</option>
							<option>Precios Bajos</option>
							<option>Precios Altos</option>
							<option>Pocas Habitaciones</option>
							<option>Muchas Habitaciones</option>
							<option>Pocas Personas</option>
							<option>Muchas Personas</option>
						</select>
					</div>
				</div>
				<!-- /Ordenadores -->

				<!-- Apartamentos -->
				<div class="row" id="apartamentos">

						{% for apar in propiedad %}
							
							<div class="ordenables col-lg-4 col-md-6 mb-4">
								<div class="card h-100">
									<div class="card-body">
										<h4 class="card-title">
										<a style="text-decoration: none; color: #00aced;" href="{{url("apartamento",{"id":apar.id, "id":apar.id})}}">{{ apar.nombre }}</a>
										<br/><br/>
										<a><img class="card-img-top" src="../imagenes/{{ apar.imagen }}" width="100px" height="100px"/></a>
										</h4>
										<hr/>
										<h5>{{ apar.precio }}€</h5>
										<h6 style="text-align: right;">Nº Inquilinos:{{ apar.numPersonas }}</h6>
										<h6 style="text-align: right;">Nº Habitaciones:{{ apar.numHabitaciones }}</h6>
										<hr/>
										<p class="card-text">{{ apar.descripcion }}</p>
									</div>
									<div class="card-footer">
										<small class="text-muted">{{ apar.direccion }}, {{ apar.localidad.nombre }}</small>
									</div>
								</div>
							</div>
	
						{% endfor %}

				</div>
				<!-- /Apartamentos -->
					
			</div>
		</div>
	</div>
	<!-- /Cuerpo -->
			
</body>

	<!-- JavaScript -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<script src="{{ asset('js/home.js') }}"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<!-- /JavaScript -->

<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">
  	<div class="container text-center text-md-left">
	  	<div class="row text-center text-md-left mt-3 pb-3">

		 	<!-- Descripcion -->
		  	<div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
			  	<h6 class="text-uppercase mb-4 font-weight-bold">Descripcion</h6>
			  	<p>Página Inicial del proyecto sobre web comparadora de apartamentos</p>
		  	</div>
		  	<!-- /Descripcion -->

		  	<hr class="w-100 clearfix d-md-none">

		  	<!-- Enlaces -->
		  	<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
			  	<h6 class="text-uppercase mb-4 font-weight-bold">Enlaces</h6>
			  	<p><a href="#!">Memoria del Proyecto</a></p>
			  	<p><a href="#!">Manual de Instalación</a></p>
			  	<p><a href="#!">Manual de Usuario</a></p>
		  	</div>
		  	<!-- /Second column -->

		  	<hr class="w-100 clearfix d-md-none">

		  	<!-- Datos -->
		  	<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
				<h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
				<p><i class="fas fa-home mr-3"></i>Av. Arjona, 5, 23006 Jaén</p>
				<p><i class="fab fa-internet-explorer mr-3"></i>www.ieslasfuentezuelas.com/</p>
				<p><i class="fas fa-phone mr-3"></i>953 36 69 05</p>
			</div>
		  	<!-- /Datos -->

	  	</div>

		 <hr>
		 
		<!-- CopyRight -->
	  	<div class="row py-3 d-flex align-items-center">
		 	<div class="col-md-8 col-lg-8">
			  	<p class="text-center text-md-left grey-text">© 2018 Copyright</p>
		  	</div>
		</div>
		<!-- /CopyRight -->

	</div>
</footer>
<!-- /Footer -->							

</html>