{% extends 'default/base.html.twig' %}

{% block cuerpo %}

<body style="background-color: #eee;">

   	<!-- Menú Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #00aced;">
		<div class="container">
			<img id="logo" src="../../imagenes/logo2.png" alt="">
			<button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#divCollapse">
				&#9776;
			</button>
			<div class="collapse navbar-collapse" id="divCollapse">
					<ul class="nav navbar-nav">
						<li class="nav-item"><a href="{{ url('homepage')}}" id="inicio" class="nav-link font-weight-bold fas fa-home"> Inicio</a></li>
					</ul>
					<ul class="nav navbar-nav ml-auto">
						<button type="button" data-toggle="dropdown" style="background-color:#00aced;" class="btn dropdown-toggle nav-link font-weight-bold fas fa-user"> {{ app.user.username }}</button>
						<ul class="dropdown-menu dropdown-menu-right mr-5" style="background-color:#c0deed;">
							<li class="px-3 py-2">
								<div class="form-group" style="border-bottom: 0.2px solid; border-color: #00aced;">
									<a href="{{url("alquiler")}}" class="nav-link font-weight-bold fas fa-building"> Apartamentos</a>
								</div>
								<div class="form-group" style="border-bottom: 0.2px solid; border-color: #00aced;">
									<a href="{{url("configuracion")}}" class="nav-link font-weight-bold fas fa-cog"> Configuración</a>
								</div>
								<div class="form-group" style="border-bottom: 0.2px solid; border-color: #00aced;">
									<a href="{{url("logout")}}" class="nav-link font-weight-bold fas fa-sign-out-alt"> Cerrar Sesión</a>
								</div>
							</li>
						</ul>
					</ul>
			</div>
		</div>
	</nav>
	<!-- /Menú Navbar --> 

	<!-- Cuerpo -->
	{% if app.user.id == apartamento.user.id %}
		<div class="card m-4 p-4">
			<div class="row">

				<!-- Formulario de Modificación de Apartamento -->
				<div class="col-lg-5">
					<h5>Modificar Apartamento:</h5>
					{{ form_start(formulario3) }}
					{{ form_widget(formulario3) }}
					{{ form_end(formulario3) }}
				</div>
				<!-- Formulario de Modificación de Apartamento -->

				<!-- Formulario de Alquiler -->
				<div class="col-lg-5" style="margin-left:5%;">
					<h5>Aceptar Alquiler</h5>
					{{ form_start(alquiler) }}
					{{ form_widget(alquiler) }}
					{{ form_end(alquiler) }}
					<hr/>
					<h2 style="margin-top: 10%;"><a href="{{url("crudGaleria",{"id":apartamento.id})}}">Modificar Galería</a></h2>
					
					<!-- Slider -->
					<div id="slider" class="carousel slide mt-5 my-4" data-ride="carousel">
						<div class="carousel-inner" role="listbox" id="activador">

							{% for pic in fotos %}

								<div class="carousel-item">
									<img class="d-block img-fluid" src="../../imagenes/{{pic.imagen}}">
								</div>

							{% endfor %}

						</div>
						<a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Anterior</span>
						</a>
						<a class="carousel-control-next" href="#slider" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Siguiente</span>
						</a>
					</div>
					<!-- /Slider -->

				</div>
				<!-- Formulario de Alquiler -->

			</div>
		</div>

	{% else %}
		<div class="container">
			<div class="row">

				<!-- Formulario de Contacto -->
				<div class="col-lg-4">
					<h1 class="my-4">Formulario de Contacto</h1>
					<div class="list-group">
						{{ form_start(contacto) }}
						{{ form_widget(contacto) }}
						{{ form_end(contacto) }}
					</div>
				</div>
				<!-- /Formulario de Contacto -->

				<div class="col-lg-8">

					<!-- Apartamento -->
					<div class="card mt-4">
						<div class="card-body">
							<h3 class="card-title">{{ apartamento.nombre }}</h3>
							<h4 class="text-warning">Precio: {{ apartamento.precio }}€</h4>
							<p class="card-text">Descripción: {{ apartamento.descripcion }}</p>
							<span>Dirección: {{ apartamento.direccion }}</span>
							<h5>Galería:</h5>

							<!-- Slider -->
							<div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
								<div class="carousel-inner" role="listbox" id="activador">

									{% for pic in fotos %}

										<div class="carousel-item">
											<img width="auto" height="200px" class="d-block img-fluid" src="../../imagenes/{{pic.imagen}}">
										</div>

									{% endfor %}

								</div>
								<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
								  	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								  	<span class="sr-only">Anterior</span>
								</a>
								<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
								  	<span class="carousel-control-next-icon" aria-hidden="true"></span>
								  	<span class="sr-only">Siguiente</span>
								</a>
							</div>
							<!-- /Slider -->

						</div>
					</div>
					<!-- /Apartamento -->
					
					<!-- /Comentarios -->
					<div class="card p-4">
						<div style="margin: 2% auto;">
							<h2>Comentarios de Huespedes</h2>
						</div>

						{% for coment in comentarios %}

							{% if coment.apartamento.id == apartamento.id %}

							<div class="card card-outline-secondary my-4">
								<div class="card-header" style="background-color: #ccccb3;">
									{{ coment.nombre }} {{ coment.apellidos }}
									{{ coment.fecha }}
								</div>
								<div class="card-body">
									{{ coment.texto }}
								</div>
							</div>

							{% endif %}

						{% endfor %}

						<h2>Nuevo Comentario</h2>
						<div class="card card-outline p-4 m-2">
							{{ form_start(formulario) }}
							{{ form_widget(formulario) }}
							{{ form_end(formulario) }}
						</div>
					</div>
					<!-- /Comentarios -->

				</div>

			</div>

		</div>
		{% endif %}
		<!-- /Cuerpo -->

</body>

{% endblock %}

{% block javascript %}
			
	<!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="{{ asset('js/apartamento.js') }}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<!-- /JavaScript -->

{% endblock %}