{% extends 'default/base.html.twig' %}

{% block cuerpo %}

<body style="background-color: #eee;">

    <div class="col-lg-10" style="margin : auto;">

        <!-- Menú Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #00aced;">
            <div class="container">
                <img id="logo" src="../imagenes/logo.png" alt="">
                <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#divCollapse">
                    &#9776;
                </button>
                <div class="collapse navbar-collapse" id="divCollapse">
                        <ul class="nav navbar-nav">
                            <li class="nav-item"><a href="{{ url('homepage')}}" id="inicio" class="nav-link font-weight-bold fas fa-home"> Inicio</a></li>
                        </ul>
                        <ul class="nav navbar-nav ml-auto">
                            <button type="button" data-toggle="dropdown" style="background-color:#00aced;" class="btn dropdown-toggle nav-link font-weight-bold fas fa-user"> {{ app.user.username }}</button>
                            <ul class="dropdown-menu dropdown-menu-right mr-5" style="background-color:#c0deed;">
                                <li class="px-3 py-2">
                                    <div class="form-group" style="border-bottom: 0.2px solid; border-color: #00aced;">
                                        <a href="{{url("alquiler")}}" class="nav-link font-weight-bold fas fa-building"> Apartamentos</a>
                                    </div>
                                    <div class="form-group" style="border-bottom: 0.2px solid; border-color: #00aced;">
                                        <a href="{{url("configuracion")}}" class="nav-link font-weight-bold fas fa-cog"> Configuración</a>
                                    </div>
                                    <div class="form-group" style="border-bottom: 0.2px solid; border-color: #00aced;">
                                        <a href="{{url("logout")}}" class="nav-link font-weight-bold fas fa-sign-out-alt"> Cerrar Sesión</a>
                                    </div>
                                </li>
                            </ul>
                        </ul>
                </div>
            </div>
        </nav>		
        <!-- /Menú Navbar -->

        <!-- Formulario Perfil -->
        <div class="card col-lg-10" style="margin: auto; margin-top: 3.8%;">
            <h2 style="text-align: center;">Perfil de {{ app.user.nombre }} {{ app.user.apellidos }}</h2>
            <div class="row">
                <div class="col-lg-6">
                {{ form_start(formulario) }}
                {{ form_row(formulario.username,{attr:{readonly:'true'}}) }}
                <div id="error"></div>
                {{ form_row(formulario.password,{value: app.user.password}) }}
                {{ form_row(formulario.email) }}
                </div>
                <div class="col-lg-6">
                {{ form_row(formulario.dni) }}
                {{ form_row(formulario.nombre) }}
                {{ form_row(formulario.apellidos) }}
                {{ form_row(formulario.telefono) }}
                </div>
            </div>
            <div style="margin: 1% auto;">
            {{ form_end(formulario) }}
            </div>
        </div>
        <!-- /Formulario Perfil -->

    </div>

</body>

{% endblock %}

{% block javascript %}
                
<!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ asset('js/configuracion.js') }}"></script>
<!-- /JavaScript -->
    
{% endblock %}