<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="{{ asset('css/estilo.css') }}" />

</head>

<body style="background-color: #eee; margin-top:54px;">

   	<!-- Menú Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #00aced;">
		<div class="container">
			<img id="logo" src="../../../imagenes/logo.png" alt="">
			<button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#divCollapse">
				&#9776;
			</button>
			<div class="collapse navbar-collapse" id="divCollapse">
				<ul class="nav navbar-nav">
                	<li class="nav-item"><a href="{{ url('homepage')}}" id="inicio" class="nav-link font-weight-bold">Inicio</a></li>
					<li class="nav-item"><a href="#" id="ayuda" class="nav-link font-weight-bold">Ayuda</a></li>
				</ul>
				<ul class="nav navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link font-weight-bold" href="{{url("logout")}}"> Cerrar Sesión</a></li>
					<button type="button" data-toggle="dropdown" style="background-color:#00aced;" class="btn dropdown-toggle nav-link font-weight-bold">Perfil</button>
					<ul class="dropdown-menu dropdown-menu-right mr-5" style="background-color:#c0deed;">
						<li class="px-3 py-2">
							<div class="form-group" style="border-bottom: 0.2px solid; border-color: #00aced;">
								<a href="{{url("alquiler")}}" class="nav-link font-weight-bold">Apartamentos</a>
							</div>
							<div class="form-group" style="border-bottom: 0.2px solid; border-color: #00aced;">
								<a href="{{url("configuracion")}}" class="nav-link font-weight-bold">Configuración</a>
							</div>
						</li>
					</ul>
					<li>
						<a href="#" class="nav-link" title="settings"><i class="fa fa-cog fa-fw fa-lg"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- /Menú Navbar --> 

	<!-- Cuerpo -->
	<input style="margin-left: 2%;" class="btn btn-secondary" type="submit" value="Volver Atrás" id="prueba" onclick="history.back()"/>
	<div class="card m-4 p-4">
		<div class="row">
			<div class="col-lg-8">
				<table class="table table-responsive" id="myTable">
						<thead style="text-align:center" class="thead-dark">
							<tr class="header">
								<th>Id</th>
								<th>Imagen</th>
								<th>Dirección</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<tbody>

							{% for pic in fotos %}

								<tr>
									<td class="linea">{{ pic.id }}</td>
									<td class="linea"><img style="max-width: 50%; max-height: 50%; margin-left: 25%;" src="../../../imagenes/{{ pic.imagen }}"></img></td>
									<td class="linea">{{ pic.apartamento }}</td>
									<td><a href="{{url("borrarGaleria",{"id":pic.id, "apar":apar.id})}}">Borrar</a></td>
								</tr>

							{% endfor %}

						</tbody>
				</table>
			</div>
			<div class="col-lg-3">
						<h5 style="padding: 5%;">Subir Imágenes:</h5>
						{{ form_start(formulario, {'enctype':"multipart/form-data"})}}					
						{{ form_widget(formulario) }}
						{{ form_end(formulario) }}
			</div>
		</div>
	</div>
	<!-- /Cuerpo -->

</body>
        		
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="{{ asset('js/apartamento.js') }}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!--Footer-->
<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">

	<!--Footer Links-->
	<div class="container text-center text-md-left">
  
		<!-- Footer links -->
		<div class="row text-center text-md-left mt-3 pb-3">
  
			<!--First column-->
			<div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
				<h6 class="text-uppercase mb-4 font-weight-bold">Descripcion</h6>
				<p>Página de crud de la galería del proyecto sobre web comparadora de apartamentos</p>
			</div>
			<!--/.First column-->
  
			<hr class="w-100 clearfix d-md-none">
  
			<!--Second column-->
			<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
				<h6 class="text-uppercase mb-4 font-weight-bold">Enlaces</h6>
				<p><a href="#!">Memoria del Proyecto</a></p>
				<p><a href="#!">Manual de Instalación</a></p>
				<p><a href="#!">Manual de Usuario</a></p>
			</div>
			<!--/.Second column-->
  
			<hr class="w-100 clearfix d-md-none">
  
			<!--Third column-->
			<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
				<h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
				<p><i class="fa fa-home mr-3"></i>Av. Arjona, 5, 23006 Jaén</p>
				<p><i class="fa fa-envelope mr-3"></i>23002449.edu@juntadeandalucia.es</p>
				<p><i class="fa fa-phone mr-3"></i>www.ieslasfuentezuelas.com/</p>
				<p><i class="fa fa-print mr-3"></i>953 36 69 05</p>
			</div>
			<!--/.Third column-->
  
		</div>
		<!-- Footer links -->
  
		<hr>
  
		<div class="row py-3 d-flex align-items-center">
  
			<!--Grid column-->
			<div class="col-md-8 col-lg-8">
  
				<!--Copyright-->
				<p class="text-center text-md-left grey-text">© 2018 Copyright</p>
				<!--/.Copyright-->
  
			</div>
			<!--Grid column-->
  
		</div>
		<!--Grid column-->
  
	</div>
  
</footer>
<!--/.Footer-->		

</html>
